{% extends 'index.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<style>
    {% block styles_extend %}
        .form-control {
            width: auto;
        }
        .row-md {
            margin-bottom: 5px;
        }

        label {
            font-size: smaller;
        }
    {% endblock %}
</style>

{% block content_extend %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <button type="button" class="btn btn-ms btn-primary" id="search">
            <span class="glyphicon glyphicon-search"></span>&nbsp;查询
        </button>
        {% if current_user.role_id  != 3 %}
            <button type="button" class="btn btn-ms btn-success" id="add" data-toggle="modal"
                    data-target="#catalog_setting">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;录入
            </button>
        {% endif %}
        {% if catalogs %}
            <table class="table table-striped" width="100%" style="font-size: smaller;margin-top: 20px"
                   id="catalog_table">
                <thead>
                <tr>
                    <th width="10%">ID</th>
                    <th width="30%">分类</th>
                    {% if current_user.role_id  != 3 %}
                        <th width="30%">操作</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for catalog in catalogs %}
                    <tr>
                        <td><span name="id">{{ catalog.id }}</span></td>
                        <td><span>{{ catalog.catalog }}</span></td>
                        {% if current_user.role_id  != 3 %}
                            <td>
                                <button type="button" class="btn btn-default btn-xs" data-toggle="modal"
                                        data-target="#catalog_setting" title="设置"
                                        btn="setting">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block modal_extend %}
    <div class="modal fade bs-example-modal-sm" id="catalog_setting" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true" id="modal_close">&times;</span></button>
                    <h4 class="modal-title">分类维护</h4>
                </div>
                <div class="modal-body" id="catalog_body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" title="提交">
                        <span class="glyphicon glyphicon-saved"></span>&nbsp;提交
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="catalog_tp">
        <div style="margin: 0 10px 0 10px">
            <div class="row">
                <label>分类:</label>
                <input type="text" name="catalog" class="form-control" value="{catalog}">
                <input type="hidden" name="id" class="form-control" value="{id}">
            </div>
        </div>
    </script>
{% endblock %}

<script type="text/javascript">
    {% block scripts_extend %}
        //新增
        $('#add').click(function () {
            $('#catalog_body').html($('#catalog_tp').html().format({id: '', catalog: ''}));
            $('#catalog_setting .btn-success').unbind('click').bind('click', function () {
                Save('insert')
            });
        });

        //查询
        $('#search').click(function () {
            $.get('/catalog', function () {
                var url = '/catalog?query=Y';
                window.location.href = url;
            });
        });

        $('button[btn]').each(function () {
            $(this).bind('click', function (e) {
                var eles = $(e.target).closest('tr').find('[name=id]');
                var para = [{name: 'id', value: eles.text()}];
                $.post('/catalog.detail', para, function (data) {
                    var html = data.map(function (row) {
                        for (var i in row) row[i] = row[i] == null ? '' : row[i]
                        return $('#catalog_tp').html().format(row)
                    });
                    $('#catalog_body').html(html)
                });
                $('#catalog_setting .btn-success').unbind('click').bind('click', function () {
                    Save('update')
                });
            })
        })

        function Save(type) {
            var msg = '是否确认提交？';
            if (!confirm(msg)) return;
            var para = [];
            $('#catalog_body [name]').each(function () {
                var name = $(this).attr('name'), val = $(this).val();
                para.push({name: name, value: val});
            });
            para.push({name: 'type', value: type})
            $.post('/catalog.save', para, function (data) {
                if (data == 'ok') {
                    $('#modal_close').trigger('click');
                    setTimeout(function () {
                        $('#search').trigger('click')
                    }, 200);
                } else alert(data)
            })
        }

    {% endblock %}
</script>



